* {
  box-sizing: border-box;
}

:root {
  color: #1a1c1c;
  background: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  min-height: 100svh;
}

button,
input,
select,
textarea {
  font: inherit;
}
